---
import Carousel from "../components/Carousel.astro";
import ModalClicker from "../components/ModalClicker.astro";

let array1 = [1, 2, 3, 4, 5, 6, 7, 8];
let array2 = [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20];
---

<div class="activities">
  <div class="wrapper">
    <h3 class="primary">สืบสาน วัฒนธรรม ประเพณี</h3>
    <Carousel class="carousel-activities" width="min(80vw, 35rem)">
      {
        array1.map((num) => (
          <div class="item">
            <ModalClicker>
              <img
                class="modal-full-image"
                src={`/portfolio/images/activities/${num}.webp`}
                loading="lazy"
                alt="รูปกิจกรรม"
              />
            </ModalClicker>
          </div>
        ))
      }
    </Carousel>
    <i class="fa-solid fa-plus" data-toggle-id="content-1"></i>
    <p id="content-1">
      บรรพชาสามเณร, พิธีไหว้ครู, ทำบุญตักบาตร สวดมนต์ ทำวัตรเช้า, FARTLEK 65
      โครงการวิ่งเพื่อสุขภาพส่งเสริมสมรรถภาพร่างกาย และสร้างความสามัคคี,
      เชียร์และแปรอักษรฟุตบอลประเพณีจตุรมิตรสามัคคี, ปัจฉิมนิเทศ ฯลฯ
    </p>
  </div>

  <div class="wrapper">
    <h3 class="primary">ชุมนุมเทพมีเดีย ม.1-ม.6</h3>
    <Carousel class="carousel-activities" width="min(80vw, 35rem)">
      {
        array2.map((num) => (
          <div class="item">
            <ModalClicker>
              <img
                class="modal-full-image"
                src={`/portfolio/images/activities/${num}.webp`}
                loading="lazy"
                alt="รูปกิจกรรม"
              />
            </ModalClicker>
          </div>
        ))
      }
    </Carousel>
    <i class="fa-solid fa-plus" data-toggle-id="content-2"></i>
    <p id="content-2">
      งานพิธีวางพวงมาลาพระบรมราชานุสาวรีย์ฯ, วันคล้ายวันพระบรมราชสมภพ,
      วันคล้ายวันเฉลิมฯ งานบุญแห่เทียนพรรษา, งานเทศน์มหาชาติ, งานเกษียณฯ,
      งานวันไหว้ครู, พิธีประดับเข็ม, ทำบุญตักบาตร วันขึ้นปีใหม่-วันแม่แห่งชาติ,
      ฟุตบอลแชมป์กีฬา7HD 2022, โครงการโรงเรียนพี่โรงเรียนน้อง ตามพระราชดำริฯ
      "เทพสู่ดอย" ฯลฯ
    </p>
  </div>
</div>

<style>
  .activities {
    --padding: min(2rem, 4vw);
    --width: min(80vw, 35rem);
  }

  .wrapper {
    margin-bottom: 3rem;
  }

  .wrapper h3 {
    text-align: center;
    margin-bottom: calc(var(--padding) * 0.75);
  }

  .wrapper i {
    display: block;
    float: right;
    top: 1rem;
    right: calc((100vw - var(--width) - 2 * min(4rem, 6vw)) * 0.5);

    background-color: transparent;
    border: 2.5px solid rgb(var(--primary));

    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;

    transition: background-color 0.25s;
  }

  .wrapper i.toggled,
  .wrapper i:hover {
    background-color: rgb(var(--primary));
  }

  .wrapper p {
    width: var(--width);
    margin: auto;
    margin-top: calc(4rem);

    text-align: center;
    font-size: clamp(1rem, 2vw, 1.2rem);

    display: none;
  }

  .item {
    width: var(--width);
  }

  .item img {
    display: block;
    width: var(--width);

    cursor: pointer;
    transition: filter 0.25s;
  }

  .item img:hover {
    filter: brightness(0.8);
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const wrapperArray = gsap.utils.toArray(".activities .wrapper");
  wrapperArray.forEach((wrapperObj) => {
    const wrapper = wrapperObj as Element;
    const q = gsap.utils.selector(wrapper);

    const tl = gsap
      .timeline({ defaults: { ease: "power4" } })
      .from(q("h3"), { opacity: 0, yPercent: 100, duration: 0.7, delay: 0.2 })
      .from(q(".carousel-activities"), { opacity: 0, duration: 1 });

    ScrollTrigger.create({
      trigger: wrapper,
      animation: tl,
      start: "top bottom",
      toggleActions: "play none none none",
    });
  });

  const icons = gsap.utils.toArray(".activities i");
  icons.forEach((elem) => {
    const icon = elem as HTMLElement;
    icon.onclick = () => {
      const toggleId = icon.dataset.toggleId;
      const target = document.querySelector("#" + toggleId) as HTMLElement;
      if (target.style.display == "none") {
        gsap.to(target, { opacity: 1, display: "block", duration: 0.5 });
        icon.classList.add("toggled");
      } else {
        gsap.to(target, { opacity: 0, display: "none", duration: 0.5 });
        icon.classList.remove("toggled");
      }
    };
  });
</script>
