---
import ModalBtn from "../components/ModalBtn.astro";
import ModalClicker from "../components/ModalClicker.astro";
---

<div class="profile">
  <div class="profile-wrapper personal-info-wrapper">
    <h3>Personal Info</h3>
    <p><span>ชื่อ:</span> อชิระ อังสุมาล (ดีพ)</p>
    <p><span>วันเกิด:</span> 14 ธันวาคม 2548</p>
    <p>
      <span>สัญชาติ:</span> ไทย <span>เชื้อชาติ:</span> ไทย <span>ศาสนา:</span>
       พุทธ
    </p>
    <p><span>แผนการเรียน:</span> วิทย์-คณิต (เน้นวิศวกรรม)</p>
    <p>
      <span>ที่อยู่:</span>
      <a
        target="_blank"
        href="https://goo.gl/maps/mqgZLzyVSvBxq79A8?coh=178571&entry=tt"
        >คลิกที่นี่</a
      >
       (รีเจ้นท์คอร์ท 70 ถนนเพชรบุรี แขวงถนนเพชรบุรี เขตราชเทวี กทม. 10400)
    </p>
    <p>
      <span>ครอบครัว:</span> มารดา ทัศนีย์ อังสุมาล, พี่ชาย อชิตะ อังสุมาล
    </p>
    <p>
      <span>งานอดิเรก:</span> ดูอนิเมะ, เล่นรูบิค, เขียนโค้ด, ออกกำลังกาย
      (Calisthenics)
    </p>
  </div>

  <div class="wrapper">
    <ModalBtn id="contacts-click">Contacts</ModalBtn>
    <ModalBtn id="programming-skills-click">Programming Skills</ModalBtn>
    <ModalBtn id="skills-click">Skills</ModalBtn>
  </div>

  <ModalClicker from="#contacts-click">
    <div class="profile-wrapper">
      <h3 class="contact-header">Contacts</h3>
      <div class="contacts">
        <p>
          <span><i class="fa-solid fa-envelope fa-2xl"></i></span>
           i.deepaung@gmail.com
        </p>

        <p>
          <span><i class="fa-solid fa-phone fa-2xl"></i></span> 086-075-1345
        </p>

        <a target="_blank" href="https://github.com/deepaung">
          <span><i class="fa-brands fa-github fa-2xl"></i></span> DeepAung
        </a>
      </div>
    </div>
  </ModalClicker>

  <ModalClicker from="#programming-skills-click">
    <div class="profile-wrapper">
      <h3>Programming Skills</h3>
      <div class="skills">
        <span
          >C <img src="/portfolio/icons/c.svg" loading="lazy" alt="C" /></span
        >
        <span
          >C++ <img
            src="/portfolio/icons/c++.png"
            loading="lazy"
            alt="C++"
          /></span
        >

        <span
          >Unity <img
            src="/portfolio/icons/unity.png"
            loading="lazy"
            alt="Unity"
          /></span
        >

        <span>
          C# <img src="/portfolio/icons/csharp.svg" loading="lazy" alt="C#" />
        </span>

        <span
          >Godot <img
            src="/portfolio/icons/godot.svg"
            loading="lazy"
            alt="Godot"
          /></span
        >

        <span
          >Python <img
            src="/portfolio/icons/python.png"
            loading="lazy"
            alt="Python"
          /></span
        >

        <span
          >Django
          <img
            src="/portfolio/icons/django.png"
            loading="lazy"
            alt="Django"
          /></span
        >

        <span
          >HTML <img
            src="/portfolio/icons/html.png"
            loading="lazy"
            alt="HTML"
          /></span
        >
        <span
          >CSS <img
            src="/portfolio/icons/css.png"
            loading="lazy"
            alt="CSS"
          /></span
        >
        <span
          >JavaScript <img
            src="/portfolio/icons/js.png"
            loading="lazy"
            alt="JS"
          /></span
        >

        <span
          >Vue.js <img
            src="/portfolio/icons/vuejs.png"
            loading="lazy"
            alt="Vue.js"
          /></span
        >
      </div>
    </div>
  </ModalClicker>

  <ModalClicker from="#skills-click">
    <div class="profile-wrapper">
      <h3>Skills</h3>
      <div class="skills">
        <span>ถ่ายภาพ</span>
        <span>ฟัง-อ่านภาษาอังกฤษ</span>
        <span class="highlight">CU-TEP Score: xx / 120</span>
      </div>
    </div>
  </ModalClicker>
</div>

<style>
  .personal-info-wrapper {
    margin-bottom: 2rem;
    max-width: max-content;
    width: auto;
  }

  .wrapper {
    max-width: 15rem;
    margin: auto;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 2rem;
  }

  @media only screen and (min-width: 555px) {
    .wrapper {
      max-width: 45rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>

<style is:global>
  .profile-wrapper {
    max-width: 40rem;
    margin: auto;
  }

  .profile-wrapper h3 {
    color: rgb(var(--primary));
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .profile-wrapper span {
    color: #dad7c5;
    font-weight: 600;
  }

  .profile-wrapper .contacts {
    margin-inline: auto;
    max-width: max-content;

    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .profile-wrapper .contacts > * {
    line-height: 3em;
    display: inline;

    border-radius: 0.5rem;
    padding: 0.25rem;
    text-decoration: none;

    transition: 0.25s;
  }

  .profile-wrapper .contacts > *::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;

    transform: scaleX(0);
    background-color: rgb(var(--primary));

    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .profile-wrapper .contacts *:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .profile-wrapper .contacts > * i {
    margin-right: 0.3em;
    transition: 0.25s;
  }

  .profile-wrapper .contacts > *:hover i {
    color: white;
    transform: translateY(-3px);
  }

  .profile-wrapper .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .profile-wrapper .skills span {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    border-radius: 0.25rem;

    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);

    display: flex;
    align-items: center;
    gap: 0.75rem;

    text-align: center;
    cursor: pointer;
    transition: 0.25s;
  }

  .profile-wrapper .skills span:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    transform: translateY(-2px);
  }

  .profile-wrapper .skills span img {
    height: 2rem;
    user-select: none;
  }

  .profile-wrapper .skills .highlight {
    text-decoration: underline;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
</style>

<script>
  import { fromScrollTrigger } from "../scripts/fromScrollTrigger.ts";

  fromScrollTrigger(
    ".personal-info-wrapper",
    { x: 500, delay: 0.5, ease: "power4" },
    1,
  );

  fromScrollTrigger(
    ".profile .wrapper",
    { x: -500, delay: 0.5, ease: "power4" },
    1,
  );
</script>
