---
import Welcome from "../components/Welcome.astro";
import Intro from "../components/Intro.astro";
import Profile from "../components/Profile.astro";
import Education from "../components/Education.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/8e504b9924.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <Welcome />
    <div class="detail">
      <Intro />
      <Profile />
      <Education />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --blue: 56, 182, 255;
    --yellow: 255, 223, 43;
    --green: 27, 248, 129;
    --pink: 250, 24, 163;
    --crimson: 121, 14, 14;
  }

  /* default settings */
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  a {
    color: white;
  }

  p,
  a,
  li {
    font-size: 1.2rem;
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }

  body {
    font-weight: normal;
    font-family: Inter, "IBM Plex Sans Thai", sans-serif;
    color: white;
    overflow-x: hidden;
  }

  .container {
    padding: 2rem;
  }

  .head {
    text-align: center;
    margin-bottom: 3rem;
  }

  .detail {
    background-color: rgb(30, 30, 30);
  }

  /* utility class */
  .blue {
    color: rgb(var(--blue));
  }

  .yellow {
    color: rgb(var(--yellow));
  }

  .green {
    color: rgb(var(--green));
  }

  .pink {
    color: rgb(var(--pink));
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
</script>
