<div class="theme-popup">
  <input type="radio" name="theme" id="first" />
  <input type="radio" name="theme" id="second" />
  <input type="radio" name="theme" id="third" />
  <input type="checkbox" id="checkbox" />
  <label for="checkbox" class="theme-popup__button">
    Theme:
    <span class="theme-popup__icons">
      <!-- 3 icons here -->
      <i class="first">CU</i>
      <i class="second">KMITL</i>
      <i class="third">KMUTT</i>
    </span>
  </label>
  <div class="theme-popup__list-container">
    <ul class="theme-popup__list">
      <li>
        <label for="first">
          <span class="theme-popup__icons">
            <!-- first icon here -->
            <i class="first fa-solid fa-caret-right"></i>
          </span>
          <span>Chula</span>
        </label>
      </li>
      <li>
        <label for="second">
          <span class="theme-popup__icons">
            <!-- second icon here -->
            <i class="second fa-solid fa-caret-right"></i>
          </span>
          <span>KMITL</span>
        </label>
      </li>
      <li>
        <label for="third">
          <span class="theme-popup__icons">
            <!-- third icon here -->
            <i class="third fa-solid fa-caret-right"></i>
          </span>
          <span>KMUTT</span>
        </label>
      </li>
    </ul>
  </div>
</div>

<style>
  /* radio settings 👇 */

  .theme-popup {
    /* total */
    --total_text_color: #e0e0e0;
    --total_font_family: Menlo, Roboto Mono, monospace;
    /* button */
    --btn_bg: #3a3a3a;
    --btn_padding: 0.5em;
    --btn_height: 2em;
    --btn_border_radius: 0.3125em;
    --btn_outline_width: 0.0625em;
    --btn_outline_color: #a0a0a0;
    --btn_outline_offset: 0.0625em;
    --btn_gap: 0.3125em;
    /* list */
    --list_padding: 0.5em;
    --list_bg: var(--btn_bg);
    --list_border_radius: var(--btn_border_radius);
    --list_gap: 0.1875em;
    --list_btn_hover_bg: #5a5656;
    --list_btn_active: #b9b9b970;
    --list_btn_border_radius: 0.25em;
    --list_btn_padding: 0.35em 1em;
    --list_btn_gap: 0.4375em;
    --list_btn_outline_width: 0.0625em;
    --list_btn_outline_color: rgb(212, 210, 210);
    --list_offset: 0.35em;
    --list_btn_font_size: 14px;
    --list_position_left: unset;
    --list_position_right: 0;
    /* 👆 if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
  }

  .theme-popup__button .theme-popup__icons i,
  #second,
  #third,
  #first,
  #checkbox,
  .theme-popup__list-container {
    display: none;
  }

  .theme-popup {
    color: var(--total_text_color);
    font-family: var(--total_font_family);
    position: relative;
    user-select: none;
  }

  .theme-popup__list-container {
    position: absolute;
    left: var(--list_position_left);
    right: var(--list_position_right);
    top: calc(var(--btn_height) + var(--list_offset));
  }

  .theme-popup__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 16px;
  }

  .theme-popup__button {
    line-height: var(--btn_height);
    background-color: var(--btn_bg);
    padding: 0 var(--btn_padding);
    display: inline-flex;
    align-items: center;
    column-gap: var(--btn_gap);
    border-radius: var(--btn_border_radius);
    border: none;
    color: inherit;
    font-family: inherit;
    outline: none;
    font-weight: bold;

    cursor: pointer;
  }

  .theme-popup__list {
    margin: 0;
    list-style-type: none;
    padding: var(--list_padding);
    border-radius: var(--list_border_radius);
    background-color: var(--list_bg);
    display: flex;
    flex-direction: column;
    row-gap: var(--list_gap);
  }

  .theme-popup__list label {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: var(--list_btn_gap);
    padding: var(--list_btn_padding);
    border-radius: var(--list_btn_border_radius);
    white-space: nowrap;

    cursor: pointer;
  }

  .theme-popup__list label span {
    font-size: var(--list_btn_font_size);
  }

  /* actions */

  #checkbox:checked ~ .theme-popup__button {
    outline: var(--btn_outline_width) solid var(--btn_outline_color);
    outline-offset: var(--btn_outline_offset);
  }

  #checkbox:checked ~ .theme-popup__list-container {
    display: block;
  }

  .theme-popup__list label:hover,
  .theme-popup__button:hover,
  #checkbox:checked ~ .theme-popup__button {
    background-color: var(--list_btn_hover_bg);
  }

  #first:checked ~ .theme-popup__list-container label[for="first"],
  #second:checked ~ .theme-popup__list-container label[for="second"],
  #third:checked ~ .theme-popup__list-container label[for="third"] {
    background-color: var(--list_btn_active);
    outline: var(--list_btn_outline_width) solid var(--list_btn_outline_color);
  }

  #first:checked ~ label i.first,
  #second:checked ~ label i.second,
  #third:checked ~ label i.third {
    display: block;
  }
</style>

<script>
  import { setUniversity, getUniversity } from "../scripts/university.ts";

  const first = document.querySelector("#first") as HTMLInputElement;
  const second = document.querySelector("#second") as HTMLInputElement;
  const third = document.querySelector("#third") as HTMLInputElement;

  let uni = getUniversity();
  if (uni == "cu") first.checked = true;
  else if (uni == "kmitl") second.checked = true;
  else if (uni == "kmutt") third.checked = true;

  first.onclick = () => {
    setUniversity("cu");
  };
  second.onclick = () => {
    setUniversity("kmitl");
  };
  third.onclick = () => {
    setUniversity("kmutt");
  };
</script>
