---
import Carousel from "../subcomponents/Carousel.astro";
import ModalClicker from "../subcomponents/ModalClicker.astro";
---

<div class="activities">
  <div class="wrapper">
    <h3>สืบสาน วัฒนธรรม ประเพณี</h3>
    <Carousel class="carousel-activities" width="min(70vw, 35rem)">
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/1.webp"
            loading="lazy"
            alt="ปัจฉิมนิเทศ"
          />
        </ModalClicker>
        <p>ปัจฉิมนิเทศ</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/2.webp"
            loading="lazy"
            alt="FARTLEK 65 โครงการวิ่งเพื่อสุขภาพส่งเสริมสมรรถภาพร่างกาย และสร้างความสามัคคี"
          />
        </ModalClicker>
        <p>
          FARTLEK 65 โครงการวิ่งเพื่อสุขภาพส่งเสริมสมรรถภาพร่างกาย
          และสร้างความสามัคคี
        </p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/3.webp"
            loading="lazy"
            alt="ทำบุญตักบาตร"
          />
        </ModalClicker>
        <p>ทำบุญตักบาตร</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/4.webp"
            loading="lazy"
            alt="สวดมนต์ ทำวัตรเช้า"
          />
        </ModalClicker>
        <p>สวดมนต์ ทำวัตรเช้า</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/5.webp"
            loading="lazy"
            alt="เชียร์และแปรอักษรฟุตบอลประเพณีจตุรมิตรสามัคคี"
          />
        </ModalClicker>
        <p>เชียร์และแปรอักษรฟุตบอลประเพณีจตุรมิตรสามัคคี</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/6.webp"
            loading="lazy"
            alt="พิธีไหว้ครู"
          />
        </ModalClicker>
        <p>พิธีไหว้ครู</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/7.webp"
            loading="lazy"
            alt="บรรพชาสามเณรฤดูร้อน"
          />
        </ModalClicker>
        <p>บรรพชาสามเณรฤดูร้อน</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/8.webp"
            loading="lazy"
            alt="บวชหน้าไฟ"
          />
        </ModalClicker>
        <p>บวชหน้าไฟ</p>
      </div>
    </Carousel>
  </div>

  <div class="wrapper">
    <h3>ชุมนุมเทพมีเดีย ม.1-ม.6</h3>
    <Carousel class="carousel-activities" width="min(70vw, 35rem)">
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/9.webp"
            loading="lazy"
            alt="พิธีวางพวงมาลาพระบรมราชานุสาวรีย์ฯ"
          />
        </ModalClicker>
        <p>พิธีวางพวงมาลาพระบรมราชานุสาวรีย์ฯ</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/10.webp"
            loading="lazy"
            alt="วันคล้ายวันพระบรมราชสมภพ"
          />
        </ModalClicker>
        <p>วันคล้ายวันพระบรมราชสมภพ</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/11.webp"
            loading="lazy"
            alt="วันคล้ายวันเฉลิมฯ"
          />
        </ModalClicker>
        <p>วันคล้ายวันเฉลิมฯ</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/12.webp"
            loading="lazy"
            alt="ทำบุญตักบาตร วันขึ้นปีใหม่-วันแม่แห่งชาติ"
          />
        </ModalClicker>
        <p>ทำบุญตักบาตร วันขึ้นปีใหม่-วันแม่แห่งชาติ</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/13.webp"
            loading="lazy"
            alt="พิธีประดับเข็ม"
          />
        </ModalClicker>
        <p>พิธีประดับเข็ม</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/14.webp"
            loading="lazy"
            alt="งานเกษียณฯ งานวันไหว้ครู"
          />
        </ModalClicker>
        <p>งานเกษียณฯ งานวันไหว้ครู</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/15.webp"
            loading="lazy"
            alt="งานเทศน์มหาชาติ"
          />
        </ModalClicker>
        <p>งานเทศน์มหาชาติ</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/16.webp"
            loading="lazy"
            alt="โครงการโรงเรียนพี่โรงเรียนน้อง ตามพระราชดำริฯ “เทพสู่ดอย”"
          />
        </ModalClicker>
        <p>โครงการโรงเรียนพี่โรงเรียนน้อง ตามพระราชดำริฯ "เทพสู่ดอย"</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/17.webp"
            loading="lazy"
            alt="ฟุตบอลแชมป์กีฬา7HD 2022"
          />
        </ModalClicker>
        <p>ฟุตบอลแชมป์กีฬา7HD 2022</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/18.webp"
            loading="lazy"
            alt="ฟุตบอลแชมป์กีฬา7HD 2022"
          />
        </ModalClicker>
        <p>ฟุตบอลแชมป์กีฬา7HD 2022</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/19.webp"
            loading="lazy"
            alt="ปัจฉิมนิเทศ"
          />
        </ModalClicker>
        <p>ปัจฉิมนิเทศ</p>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/images/activities/20.webp"
            loading="lazy"
            alt="งานบุญแห่เทียนพรรษา"
          />
        </ModalClicker>
        <p>งานบุญแห่เทียนพรรษา</p>
      </div>
    </Carousel>
  </div>
</div>

<style>
  .activities {
    --padding: min(2rem, 4vw);
    --width: min(70vw, 35rem);
  }

  .wrapper {
    width: calc(var(--width) + 2 * var(--padding));
    margin: auto;
    margin-bottom: 5rem;
    border-radius: 1rem;
  }

  .wrapper h3 {
    text-align: center;
    margin-bottom: calc(var(--padding) * 0.75);
  }

  .item {
    width: var(--width);
  }

  .item img {
    display: block;
    width: var(--width);

    cursor: pointer;
    transition: filter 0.25s;
  }

  .item img:hover {
    filter: brightness(0.8);
  }

  .item p {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 500;

    margin-top: var(--padding);
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const wrapperArray = gsap.utils.toArray(".activities .wrapper");
  wrapperArray.forEach((wrapperObj) => {
    const wrapper = wrapperObj as Element;
    const q = gsap.utils.selector(wrapper);

    const tl = gsap
      .timeline()
      .from(q("h3"), { opacity: 0, yPercent: 100, duration: 0.75 })
      .from(q(".carousel-activities"), { opacity: 0, duration: 0.75 });

    ScrollTrigger.create({
      trigger: wrapper,
      animation: tl,
      start: "top bottom",
      toggleActions: "play none resume reset",
    });
  });
</script>
