---
import Carousel from "../subcomponents/Carousel.astro";
import ModalClicker from "../subcomponents/ModalClicker.astro";
---

<div class="activities">
  <div class="wrapper">
    <h3 class="primary">สืบสาน วัฒนธรรม ประเพณี</h3>
    <Carousel class="carousel-activities" width="min(80vw, 35rem)">
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/1.webp"
            loading="lazy"
            alt="ปัจฉิมนิเทศ"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/2.webp"
            loading="lazy"
            alt="FARTLEK 65 โครงการวิ่งเพื่อสุขภาพส่งเสริมสมรรถภาพร่างกาย และสร้างความสามัคคี"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/3.webp"
            loading="lazy"
            alt="ทำบุญตักบาตร"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/4.webp"
            loading="lazy"
            alt="สวดมนต์ ทำวัตรเช้า"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/5.webp"
            loading="lazy"
            alt="เชียร์และแปรอักษรฟุตบอลประเพณีจตุรมิตรสามัคคี"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/6.webp"
            loading="lazy"
            alt="พิธีไหว้ครู"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/7.webp"
            loading="lazy"
            alt="บรรพชาสามเณรฤดูร้อน"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/8.webp"
            loading="lazy"
            alt="บวชหน้าไฟ"
          />
        </ModalClicker>
      </div>
    </Carousel>
    <p>บรรพชาสามเณร, พิธีไหว้ครู, ทำบุญตักบาตร สวดมนต์ ทำวัตรเช้า, FARTLEK 65 โครงการวิ่งเพื่อสุขภาพส่งเสริมสมรรถภาพร่างกาย และสร้างความสามัคคี, เชียร์และแปรอักษรฟุตบอลประเพณีจตุรมิตรสามัคคี, ปัจฉิมนิเทศ ฯลฯ </p>
  </div>

  <div class="wrapper">
    <h3 class="primary">ชุมนุมเทพมีเดีย ม.1-ม.6</h3>
    <Carousel class="carousel-activities" width="min(80vw, 35rem)">
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/9.webp"
            loading="lazy"
            alt="พิธีวางพวงมาลาพระบรมราชานุสาวรีย์ฯ"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/10.webp"
            loading="lazy"
            alt="วันคล้ายวันพระบรมราชสมภพ"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/11.webp"
            loading="lazy"
            alt="วันคล้ายวันเฉลิมฯ"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/12.webp"
            loading="lazy"
            alt="ทำบุญตักบาตร วันขึ้นปีใหม่-วันแม่แห่งชาติ"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/13.webp"
            loading="lazy"
            alt="พิธีประดับเข็ม"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/14.webp"
            loading="lazy"
            alt="งานเกษียณฯ งานวันไหว้ครู"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/15.webp"
            loading="lazy"
            alt="งานเทศน์มหาชาติ"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/16.webp"
            loading="lazy"
            alt="โครงการโรงเรียนพี่โรงเรียนน้อง ตามพระราชดำริฯ “เทพสู่ดอย”"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/17.webp"
            loading="lazy"
            alt="ฟุตบอลแชมป์กีฬา7HD 2022"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/18.webp"
            loading="lazy"
            alt="ฟุตบอลแชมป์กีฬา7HD 2022"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/19.webp"
            loading="lazy"
            alt="ปัจฉิมนิเทศ"
          />
        </ModalClicker>
      </div>
      <div class="item">
        <ModalClicker>
          <img
            class="img"
            src="/portfolio/images/activities/20.webp"
            loading="lazy"
            alt="งานบุญแห่เทียนพรรษา"
          />
        </ModalClicker>
      </div>
    </Carousel>
    <p>งานพิธีวางพวงมาลาพระบรมราชานุสาวรีย์ฯ, วันคล้ายวันพระบรมราชสมภพ, วันคล้ายวันเฉลิมฯ งานบุญแห่เทียนพรรษา, งานเทศน์มหาชาติ, งานเกษียณฯ, งานวันไหว้ครู, พิธีประดับเข็ม, ทำบุญตักบาตร วันขึ้นปีใหม่-วันแม่แห่งชาติ, ฟุตบอลแชมป์กีฬา7HD 2022, โครงการโรงเรียนพี่โรงเรียนน้อง ตามพระราชดำริฯ "เทพสู่ดอย" ฯลฯ</p>
  </div>
</div>

<style>
  .activities {
    --padding: min(2rem, 4vw);
    --width: min(80vw, 35rem);
  }

  .wrapper {
    margin-bottom: 3rem;
  }

  .wrapper h3 {
    text-align: center;
    margin-bottom: calc(var(--padding) * 0.75);
  }

  .wrapper p {
    width: var(--width);
    margin: auto;
    margin-top: var(--padding);

    text-align: center;
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  .item {
    width: var(--width);
  }

  .item img {
    display: block;
    width: var(--width);

    cursor: pointer;
    transition: filter 0.25s;
  }

  .item img:hover {
    filter: brightness(0.8);
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const wrapperArray = gsap.utils.toArray(".activities .wrapper");
  wrapperArray.forEach((wrapperObj) => {
    const wrapper = wrapperObj as Element;
    const q = gsap.utils.selector(wrapper);

    const tl = gsap
      .timeline({ defaults: { ease: "power4" } })
      .from(q("h3"), { opacity: 0, yPercent: 100, duration: 0.7, delay: 0.2 })
      .from(q(".carousel-activities"), { opacity: 0, duration: 1 });

    ScrollTrigger.create({
      trigger: wrapper,
      animation: tl,
      start: "top bottom",
      toggleActions: "play none none none",
    });
  });
</script>
