---
const { width = "25rem", carouselsClass } = Astro.props;
---

<div class:list={[carouselsClass, "carousels"]}>
  <div class="carousels__prev">
    <i class="fa-solid fa-arrow-left fa-2xl"></i>
  </div>
  <div class="carousels__items" style={`width: ${width};`}>
    <slot />
  </div>
  <div class="carousels__next">
    <i class="fa-solid fa-arrow-right fa-2xl"></i>
  </div>
</div>

<style>
  .carousels {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousels__items {
    display: flex;
    overflow-x: hidden;
  }

  .carousels__prev,
  .carousels__next {
    padding: 1rem;
    cursor: pointer;
  }
</style>
