<div class="container">
  <div class="head">
    <h1>Certificates</h1>
    <h3>ผลงานด้านวิชาการ</h3>
  </div>

  <div class="wrapper">
    <p><b>โครงการโอลิมปิกวิชาการ (สอวน.) สาขาวิชาคอมพิวเตอร์ ค่าย 2</b></p>
    <p>ประจำปีการศึกษา 2564</p>
  </div>

  <div class="wrapper">
    <p><b>การแข่งขันคอมพิวเตอร์โอลิมปิกระดับชาติ ครั้งที่ 18</b></p>
    <p>Thailand Olympiad in Informatics 2022 (TOI 18)</p>
    <p>คณะวิทยาศาสตร์ มหาวิทยาลัยเชียงใหม่</p>
    <p>รางวัลเหรียญเงิน</p>
  </div>
</div>

<style>
  .wrapper {
    background-color: rgba(var(--crimson), 0.5);
    width: 50%;
    margin: 3rem auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
  }
</style>
