---
import Carousel from "../subcomponents/Carousel.astro";
import ModalClicker from "../subcomponents/ModalClicker.astro";
---

<div class="certificates">
  <Carousel width="60vw">
    <div class="wrapper">
      <ModalClicker>
        <img
          src="/images/certificates/1.webp"
          loading="lazy"
          alt="การแข่งขันคอมพิวเตอร์โอลิมปิกระดับชาติ ครั้งที่ 19"
        />
      </ModalClicker>
      <div class="text">
        <p><b>การแข่งขันคอมพิวเตอร์โอลิมปิกระดับชาติ ครั้งที่ 19</b></p>
        <p>Thailand Olympiad in Informatics 2023 (TOI 19)</p>
        <p>มหาวิทยาลัยนเรศวร</p>
        <p>รางวัลเทียบเท่าเหรียญเงิน</p>
      </div>
    </div>

    <div class="wrapper">
      <ModalClicker>
        <img
          src="/images/certificates/2.webp"
          loading="lazy"
          alt="การแข่งขันคอมพิวเตอร์โอลิมปิกระดับชาติ ครั้งที่ 18"
        />
      </ModalClicker>
      <div class="text">
        <p><b>การแข่งขันคอมพิวเตอร์โอลิมปิกระดับชาติ ครั้งที่ 18</b></p>
        <p>Thailand Olympiad in Informatics 2022 (TOI 18)</p>
        <p>คณะวิทยาศาสตร์ มหาวิทยาลัยเชียงใหม่</p>
        <p>รางวัลเหรียญเงิน</p>
      </div>
    </div>

    <div class="wrapper">
      <ModalClicker>
        <img
          src="/images/certificates/3.webp"
          loading="lazy"
          alt="ศิลปหัตถกรรมนักเรียน ระดับชาติ ครั้งที่ ๗๐ ณ.จังหวัดราชบุรี"
        />
      </ModalClicker>
      <div class="text">
        <p>
          <b>ศิลปหัตถกรรมนักเรียน ระดับชาติ ครั้งที่ ๗๐ ณ.จังหวัดราชบุรี</b>
        </p>
        <p>การแข่งขันสร้างเกมสร้างสรรค์จากคอมพิวเตอร์</p>
        <p>รางวัลระดับเหรียญทองแดง</p>
      </div>
    </div>

    <div class="wrapper">
      <ModalClicker>
        <img
          src="/images/certificates/4.webp"
          loading="lazy"
          alt="ICT Challenge 2022"
        />
      </ModalClicker>
      <div class="text">
        <p><b>ICT Challenge 2022</b></p>
        <p>แข่งขันตอบปัญหาวิชาการคอมพิวเตอร์และเทคโนโลยีสารสนเทศ</p>
        <p>ณ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี คณะเทคโนโลยีสารสนเทศ</p>
        <p>รางวัลรองชนะเลิศอันดับ 1</p>
      </div>
    </div>
  </Carousel>
</div>

<style>
  .wrapper {
    width: 60vw;
    height: min-content;
    margin-bottom: 3rem;
  }

  .wrapper img {
    display: block;
    margin: auto;
    width: 60vw;
    max-height: 45vh;
    object-fit: contain;

    margin-bottom: 2rem;

    cursor: pointer;
    transition: filter 0.25s;
  }

  .wrapper img:hover {
    filter: brightness(0.8);
  }

  .wrapper .text {
    padding: 1.5rem 5vw;
    text-align: center;
    border-radius: 1rem;
    background-color: rgba(var(--crimson), 0.5);
  }

  @media only screen and (min-width: 800px) {
    .wrapper .text {
      margin-inline: 1rem;
    }
  }
</style>

<script>
  import { fromScrollTrigger } from "../scripts/fromScrollTrigger.ts";

  fromScrollTrigger(
    ".certificates .carousel",
    { y: 200, ease: "power2", delay: 0.25 },
    1.5
  );
</script>
