<div class="container">
  <div class="left grey">
    <div class="text-wrapper">
      <h3 class="text">{"{"}</h3>
    </div>
    <div class="text-wrapper">
      <h3 class="text">
        &emsp;createdBy: "<span class="blue">Ashira Aungsumal</span>"
      </h3>
    </div>
    <div class="text-wrapper">
      <h3 class="text">
        &emsp;from: "<span class="yellow">Debsirin</span>
        <span class="green">School</span>"
      </h3>
    </div>
    <div class="text-wrapper">
      <h3 class="text">
        &emsp;to: "<span class="pink">Chula/Engineer/Computer(CEDT)</span>"
      </h3>
    </div>
    <div class="text-wrapper">
      <h3 class="text">{"}"}</h3>
    </div>
  </div>
  <div class="right">
    <img class="my-image" src="/images/IMG_0648.jpg" />
    <div class="text-wrapper">
      <p class="text">Try Hover Image</p>
    </div>
  </div>
</div>

<style>
  .container {
    padding: 2rem;
    height: 100vh;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text-wrapper {
    overflow: hidden;
  }

  .left .text {
    font-family: "Fira Code", monospace;
    font-weight: 400;
  }

  .right .my-image {
    display: block;
    height: 75vh;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
  }

  .right p {
    text-align: center;
    margin-top: 1rem;
    z-index: 999;

    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    color: rgb(255, 47, 47);
  }
</style>

<script>
  import gsap from "gsap";
  import { fromScrollTrigger } from "../scripts/fromScrollTrigger.ts";

  fromScrollTrigger(
    ".text-wrapper .text",
    { opacity: 1, yPercent: 100, stagger: 0.2, delay: 0.75, ease: "power4" },
    1.5
  );

  fromScrollTrigger(
    ".right",
    {
      x: 500,
      delay: 0.25,
      ease: "power4.out(1, 0.3)",
      onComplete() {
        gsap.to(".my-image", { boxShadow: "0px 0px 20px white" });
      },
      onStart() {
        gsap.to(".my-image", { boxShadow: "none" });
      },
    },
    1
  );

  const myImage = document.querySelector(".my-image") as HTMLElement;

  myImage.onmousemove = (e) => {
    let [offsetX, offsetY] = getOffset(e, myImage);
    gsap.to(".my-image", {
      boxShadow: `${offsetX}px ${offsetY}px 50px white`,
      duration: 0.25,
    });
  };

  myImage.onmouseleave = (e) => {
    gsap.to(".my-image", { boxShadow: "0px 0px 20px white", duration: 0.5 });
  };

  function getOffset(e: MouseEvent, element: HTMLElement) {
    let rect = element.getBoundingClientRect();
    let deltaX =
      e.pageX - (rect.left + window.scrollX + element.offsetWidth * 0.5);
    let deltaY =
      e.pageY - (rect.top + window.scrollY + element.offsetHeight * 0.5);

    let offsetX = deltaX / 10;
    let offsetY = deltaY / 10;

    return [offsetX, offsetY];
  }
</script>
