<div id="modal-wrapper">
  <div id="modal-content"></div>
</div>

<style is:global>
  #modal-wrapper {
    position: fixed;
    inset: 0;
    overflow-y: hidden;
    z-index: 999;

    background-color: rgb(var(--dark));
    backdrop-filter: blur(7px);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--modal-padding);

    display: none;
  }
</style>

<script src="../scripts/modal.ts"></script>
