---
interface Props {
  from?: string;
}

const { from } = Astro.props;
---

<div class="popup-modal" style={from ? "display: none;" : ""} data-from={from}>
  <slot />
</div>

<script>
  import { openModal } from "../scripts/modal.ts";

  const popupModals = document.querySelectorAll(".popup-modal");

  popupModals.forEach((item: Element) => {
    const popupModal = item as HTMLElement;
    const from = popupModal.dataset.from as string;

    const elem = from
      ? (document.querySelector(from) as HTMLElement)
      : popupModal;

    elem.onclick = () => {
      openModal(popupModal);
    };
  });
</script>
