---
interface Props {
  from: string;
}

const { from } = Astro.props;
---

<div class="popup-modal" style={from ? "display: none;" : ""} data-from={from}>
  <slot />
</div>

<style>
  .popup-modal {
    min-height: calc(100vh - 2 * var(--modal-padding));
  }
</style>

<script>
  import { openModal } from "../scripts/modal.ts";

  let popupModals = document.querySelectorAll(".popup-modal");

  popupModals.forEach((item: Element) => {
    let popupModal = item as HTMLElement;
    let from = popupModal.dataset.from as string;
    let fromElem = document.querySelector(from) as HTMLElement;

    fromElem.onclick = () => {
      openModal(popupModal);
    };
  });
</script>
