<div id="modal-wrapper"></div>

<style is:global>
  #modal-wrapper {
    position: fixed;
    inset: 0;
    overflow-y: hidden;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;

    display: none;
  }
</style>

<script src="../scripts/modal.ts"></script>
