---
import Particles from "astro-particles";
import type { ISourceOptions } from "tsparticles-engine";

const options: ISourceOptions = {
  fullScreen: {
    enable: false,
  },
  particles: {
    number: {
      value: 100,
      density: {
        enable: true,
        area: 1000,
      },
    },
    move: {
      enable: true,
      random: true,
    },
    size: {
      value: 1,
    },
    opacity: {
      random: true,
    },
    shape: {
      type: "circle",
    },
  },
};
---

<div class="bg">
  <Particles id="tsparticles" options={options} init="particlesInit" />
  <div class="gear-wrapper">
    <img src="/portfolio/images/gear.svg" alt="gear" class="gear">
  </div>
</div>

<style is:global>
  .bg {
    position: fixed;
    inset: 0;
    z-index: -1;
  }
  
  #tsparticles {
    position: fixed;
    inset: 0;
    z-index: -1;
  }

  canvas {
    position: fixed;
  }

  .gear-wrapper {
    position: fixed;
    inset: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gear {
    max-width: 70vw;
    max-height: 70vh;
    opacity: 15%;
    position: absolute;
    margin: auto;
    animation: spin ease-in-out 15s infinite;
  }

  @keyframes spin {
    0% { rotate: 0deg }
    93.5% { rotate: calc(360deg * 3) }
    100% { rotate: calc(360deg * 4) }
  }
</style>

<script>
  import type { Engine } from "tsparticles-engine";
  import { loadFull } from "tsparticles";
  import gsap from "gsap";
  import { animValue, onAnimChanged } from "../scripts/animationToggle";

  (window as any).particlesInit = async (engine: Engine) => {
    await loadFull(engine);
  };

  window.addEventListener("load", () => {
    gsap.from("#tsparticles", { opacity: 0, duration: 1 });

    checkAnimValue();
  });

  onAnimChanged(checkAnimValue);

  function checkAnimValue() {
    if (animValue) return;
    const tsparticles = document.querySelector("#tsparticles") as HTMLElement;
    tsparticles.style.display = "none";
  }
</script>
