---
import ModalClicker from "../subcomponents/ModalClicker.astro";
import SkillCard from "../subcomponents/SkillCard.astro";
---

<div class="profile">
  <div class="wrapper md flex-reversed">
    <ModalClicker>
      <img class="profile-pic" src="/portfolio/images/profile-pic.jpg" alt="profile-pic" />
    </ModalClicker>
    <section class="personal-info">
      <h3>Personal Info</h3>
      <p><span>ชื่อ:</span> อชิระ อังสุมาล (ดีพ)</p>
      <p><span>วันเกิด:</span> 14 ธันวาคม 2548</p>
      <p>
        <span>สัญชาติ:</span> ไทย <span>เชื้อชาติ:</span> ไทย <span>ศาสนา:</span
        > พุทธ
      </p>
      <p><span>แผนการเรียน:</span> วิทย์-คณิต (เน้นวิศวกรรม)</p>
      <p>
        <span>ที่อยู่:</span>
        <a
          target="_blank"
          href="https://goo.gl/maps/mqgZLzyVSvBxq79A8?coh=178571&entry=tt"
          >คลิกที่นี่</a
        >
      </p>
      <p>
        <span>ครอบครัว:</span> มารดา ทัศนีย์ อังสุมาล, พี่ชาย อชิตะ อังสุมาล
      </p>
    </section>
  </div>

  <div class="wrapper sm">
    <section class="contacts">
      <h3>Contacts</h3>
      <div class="contact-item">
        <img src="/portfolio/icons/gmail.png" alt="email" />
        <p>i.deepaung@gmail.com</p>
      </div>

      <div class="contact-item">
        <i class="fa-solid fa-phone fa-2xl"></i>
        <p>086-075-1345</p>
      </div>

      <div class="contact-item">
        <i class="fa-brands fa-github fa-2xl"></i>
        <a target="_blank" href="https://github.com/deepaung">DeepAung</a>
      </div>
    </section>
    <section class="habits">
      <h3>Habits</h3>
      <p>ฟังเพลง ดูหนัง ดูอนิเมะ</p>
      <p>เล่นรูบิค เล่นเกม เขียนโค้ด</p>
      <p>ออกกำลังกาย (Calisthenics)</p>
    </section>
  </div>

  <section class="programming-skills">
    <h3>Programming Skills</h3>

    <div class="skills-container">
      <SkillCard title="C">
        <img src="/portfolio/icons/c.svg" alt="C" />
      </SkillCard>

      <SkillCard title="C++">
        <img src="/portfolio/icons/c++.png" alt="C++" />
      </SkillCard>

      <SkillCard title="Unity (C#)">
        <img src="/portfolio/icons/unity.png" alt="Unity" />
        <img src="/portfolio/icons/csharp.svg" alt="C#" />
      </SkillCard>

      <SkillCard title="Godot">
        <img src="/portfolio/icons/godot.svg" alt="Godot" />
      </SkillCard>

      <SkillCard title="Python (Django)">
        <img src="/portfolio/icons/python.png" alt="Python" />
        <img src="/portfolio/icons/django.png" alt="Django" />
      </SkillCard>

      <SkillCard title="HTML CSS JS">
        <img src="/portfolio/icons/html.png" alt="HTML" />
        <img src="/portfolio/icons/css.png" alt="CSS" />
        <img src="/portfolio/icons/js.png" alt="JS" />
      </SkillCard>

      <SkillCard title="Vue.js">
        <img src="/portfolio/icons/vuejs.png" alt="Vue.js" />
      </SkillCard>
    </div>
  </section>
</div>

<style>
  .wrapper .profile-pic {
    display: block;
    width: 80vw;
    height: 80vw;
    border-radius: 100%;
    object-fit: cover;
    margin: auto;
    margin-bottom: 4rem;

    cursor: pointer;
    transition: filter 0.25s;
  }

  .wrapper .profile-pic:hover {
    filter: brightness(0.8);
  }

  section {
    padding: min(4vw, 2rem);
    border-radius: 1rem;
    background-color: rgba(var(--crimson), 0.5);
    margin-bottom: min(6vw, 3rem);
  }

  section h3 {
    color: rgb(var(--primary));
    text-align: center;
    margin-bottom: min(2vw, 2rem);
  }

  .personal-info span {
    color: #dad7c5;
    font-weight: 600;
  }

  .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    height: 2rem;
  }

  .contacts .contact-item img {
    width: 2rem;
    height: 2rem;
  }

  .contact-item :first-child {
    margin-right: 1rem;
  }

  .habits {
    text-align: center;
  }

  .skills-container {
    padding-top: min(2vw, 1rem);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 1rem;
  }

  @media only screen and (min-width: 800px) {
    .personal-info {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }

    .wrapper .profile-pic {
      margin: 0;
      width: 20rem;
      height: 20rem;
    }

    section {
      margin-bottom: 0;
    }

    .wrapper {
      margin-bottom: min(6vw, 3rem);
    }

    .md {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: min(6vw, 3rem);
    }

    .flex-reversed {
      flex-direction: row-reverse;
    }

    .skills-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
      gap: min(2vw, 2rem);
    }

    .programming-skills {
      width: 80%;
      margin: auto;
    }
  }

  @media only screen and (min-width: 650px) {
    .contacts,
    .habits {
      width: auto;
      height: 16.5rem;
      margin-left: 0;
      margin-right: 0;
    }

    .contact-item {
      justify-content: start;
    }

    .habits {
      text-align: left;
    }

    .sm {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: min(6vw, 3rem);
    }
  }
</style>

<script>
  import { fromScrollTrigger } from "../scripts/fromScrollTrigger.ts";

  let defaultTween = { ease: "power4" };

  fromScrollTrigger(".profile .personal-info", { x: -500, ...defaultTween }, 2);
  fromScrollTrigger(
    ".profile .profile-pic",
    { x: 500, delay: 0.25, ...defaultTween },
    0.75
  );
  fromScrollTrigger(
    ".profile .contacts",
    { x: -500, delay: 0.5, ...defaultTween },
    1
  );
  fromScrollTrigger(".profile .habits", { x: 500, ...defaultTween }, 2);
  fromScrollTrigger(
    ".profile .programming-skills",
    { y: -100, ...defaultTween },
    1
  );
</script>
