---
import ModalClicker from "../subcomponents/ModalClicker.astro";
---

<div class="projects">
  <div class="wrapper">
    <button id="kmmclick">Knight Move Move</button>
    <button id="vuenoteappclick">Let's Note</button>
    <button id="chatappclick">Let's Chat</button>
    <button id="imaginaryboxclick">Imaginary Box</button>
  </div>

  <ModalClicker from="#kmmclick">
    <div class="project-wrapper">
      <div class="img">
        <img
          src="/portfolio/images/projects/knight-move-move.png"
          alt="Knight Move Move !!!"
          loading="lazy"
        />
      </div>
      <div class="text">
        <h3><b>Knight Move Move !!!</b></h3>
        <ul>
          <p class="bold">โครงงานคอมพิวเตอร์ เกมแนวปริศนา (Puzzle)</p>
          <p>งานวันวิทยาศาสตร์แห่งชาติ ณ โรงเรียนเทพศิรินทร์ 2565</p>
          <li>
            การพัฒนาใช้โปรแกรม <span class="primary bold">Unity</span>
             และภาษาโปรแกรม <span class="primary bold">C#</span>
          </li>
          <li>เพื่อศึกษาวิธีการสร้างสรรค์เกมเบื้องต้น</li>
          <li>
            ประโยชน์: ได้รับความรู้ในการสร้างเกมเบื้องต้น มี<span
              class="underline">ความเข้าใจ</span
            >ภาษา C# เพิ่มขึ้น ได้เรียนรู้<span class="underline"
              >การทำงานเป็นกลุ่ม</span
            > การวางแผน ความรับผิดชอบ และต่อยอดแข่งขัน งานศิลปหัตถกรรม
          </li>
          <li>
            ลักษณะเกม: การเคลื่อนที่แต่ละจุด พลังชีวิตจะลดลง
            จึงต้องไปถึงจุดหมายก่อนพลังชีวิตจะหมด
          </li>
          <li>
            ผู้เล่นจะได้ฝึกสมอง หาความเป็นไปได้ <span class="underline"
              >ฝึกการสังเกต</span
            >
            <span class="underline">คิดนอกกรอบ</span> รับ<span class="underline"
              >ความบันเทิงและความหัวร้อน</span
            >ไปพร้อมกัน
          </li>
        </ul>
        <div class="buttons">
          <a href="https://github.com/DeepAung/Knight-Move-Move" target="_blank"
            >Source Code</a
          >
          <a href="https://itzpekos.itch.io/knight-move-move" target="_blank"
            >Download</a
          >
        </div>
      </div>
    </div>
  </ModalClicker>

  <ModalClicker from="#vuenoteappclick">
    <div class="project-wrapper">
      <div class="img">
        <img
          src="/portfolio/images/projects/vue-note-app.png"
          alt="Vue Note App"
          loading="lazy"
        />
      </div>
      <div class="text">
        <h3><b>Let's Note</b></h3>
        <ul>
          <li>
            เพื่อศึกษาหลักการทำงานของ Note App ในการจะสร้างเว็บไซต์
            เพื่อจดบันทึกสิ่งต่างๆ ลงไปได้ ต้องทำอย่างไร
          </li>
          <li>
            การพัฒนา ใช้ <span class="primary bold">Vue.js</span> เป็น Front-end
            Framework
          </li>
          <li>
            ประโยชน์ที่ได้รับ เข้าใจหลักการใช้ Vue.js เรียนรู้หลักการแยกไฟล์เป็น


            <span class="primary bold">Component</span> เพื่อง่ายต่อการพัฒนา
            การใช้ <span class="primary bold">Global State</span> เพื่อแก้ปัญหา
            Prop Drilling
          </li>
          <li>
            ผู้ใช้สามารถจดบันทึกข้อมูลลงในเว็บไซต์ เพื่อกลับมาดูซ้ำอีกครั้ง
          </li>
        </ul>
        <div class="buttons">
          <a href="https://github.com/DeepAung/vue-note-app" target="_blank"
            >Source Code</a
          >
          <a href="https://vuenoteapp.vercel.app/" target="_blank">Website</a>
        </div>
      </div>
    </div>
  </ModalClicker>

  <ModalClicker from="#chatappclick">
    <div class="project-wrapper">
      <div class="img">
        <img
          src="/portfolio/images/projects/chatapp.png"
          alt="Chat App"
          loading="lazy"
        />
      </div>
      <div class="text">
        <h3><b>Let's Chat</b></h3>
        <ul>
          <li>เพื่อศึกษาหลักการทำงานของ Chat App</li>
          <li>
            การพัฒนา ใช้ <span class="primary bold">Next.js</span> เป็น
            Front-end ใช้ <span class="primary bold">Django</span> เป็น Back-end
            และ <span class="primary bold">PostgreSQL</span> เป็น Database
          </li>
          <li>
            ประโยชน์ที่ได้รับ มีความรู้ในการใช้ Next.js + Django
            เข้าใจหลักการทำงานของ <span class="primary bold">REST-API</span> และ


            <span class="primary bold">WebSocket</span> มากขึ้น
          </li>
          <li>
            ผู้ใช้สามารถสมัคร Account สร้างห้องเพื่อคุยกัน
            สามารถแก้ไขข้อมูลส่วนตัวได้ เช่น UserName, Bio, Avatar
            และเจ้าของห้อง (Host) สามารถแก้ไขข้อมูลของห้องได้
          </li>
        </ul>
        <div class="buttons">
          <a href="https://github.com/DeepAung/ChatAppFrontend" target="_blank"
            >Source Code Frontend</a
          >
          <a href="https://github.com/DeepAung/ChatAppBackend" target="_blank"
            >Source Code Backend</a
          >
        </div>
      </div>
    </div>
  </ModalClicker>

  <ModalClicker from="#imaginaryboxclick">
    <div class="project-wrapper">
      <div class="img">
        <img
          src="/portfolio/images/projects/imaginary-block.png"
          alt="Imaginary Box (กล่องทิพย์)"
          loading="lazy"
        />
      </div>
      <div class="text">
        <h3><b>Imaginary Box (กล่องทิพย์)</b></h3>
        <ul>
          <p class="primary bold mt">ที่มาและความสำคัญ</p>
          <p>
            ปัจจุบัน การสอบ TGAT TPAT3 A-Level มีความสำคัญต่อการเข้ามหาวิทยาลัย
            ผู้จัดทำได้เล็งเห็นถึงความสำคัญ จึงได้จัดทำโปรแกรมช่วยฝึกการทำข้อสอบ
            ในเรื่องมิติสัมพันธ์ขึ้น
            หวังว่าผู้อ่านหรือผู้ที่สนใจจะได้รับประโยชน์จากโปรแกรมนี้
          </p>

          <p class="primary bold mt">วัตถุประสงค์</p>
          <li>เพื่อฝึกทักษะด้านมิติสัมพันธ์เพื่อใช้ในการสอบ TGAT/TPAT3</li>
          <li>เพื่อใช้เป็นสื่อประกอบการสอนสำหรับอาจารย์หรือติวเตอร์</li>

          <p class="primary bold mt">ประโยชน์ที่คาดว่าได้รับ</p>
          <li>
            ได้ฝึกการมองภาพสามมิติ ให้มีความชำนาญในการหมุนรูป
            เพิ่มทักษะในการทำโจทย์ TGAT/ TPAT3
          </li>
          <li>ทำให้การสอนง่ายขึ้น ผู้เรียนเห็นภาพคิดตามได้</li>

          <p class="primary bold mt">เครื่องมือที่ใช้</p>
          <li>Godot (Game Engine)</li>
          <li>GDScript (Programming Language)</li>
          <li>GitHub (Code Hosting)</li>
          <li>itch.io (Program Hosting)</li>

          <p class="primary bold mt">สรุปสิ่งที่ได้</p>
          <p>
            ผู้จัดทำโครงงานได้รับความรู้ในการสร้างโปรแกรมเบื้องต้น, เข้าใจ
            Observer Programming Pattern, ประยุกต์นำเอา DFS Algorithm
            ที่เรียนในสอวน. มาใช้ในการหมุนรูป
          </p>
        </ul>
        <div class="buttons">
          <a href="https://github.com/DeepAung/ImaginaryBlock" target="_blank"
            >Source Code</a
          >
          <a
            href="https://github.com/DeepAung/ImaginaryBlock/releases"
            target="_blank">Download</a
          >
        </div>
      </div>
    </div>
  </ModalClicker>
</div>

<style>
  .wrapper {
    max-width: 15rem;
    margin: auto;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 2rem;
  }

  .wrapper button {
    color: white;
    background-color: transparent;
    border: 3px solid rgba(var(--secondary), 0.8);
    border-radius: 0.5rem;

    cursor: pointer;
    margin-top: 0.5rem;
    padding: 1.2rem 0.5rem;

    text-align: center;
    font-size: clamp(1.25rem, 3.5vw, 1.75rem);
    font-weight: 500;

    transition:
      background-color 0.25s,
      transform 0.25s;
  }

  .wrapper button:hover {
    background-color: rgba(var(--secondary), 0.8);
    transform: translateY(-3px);
  }

  @media only screen and (min-width: 555px) {
    .wrapper {
      max-width: 50rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>

<script>
  import gsap from "gsap";
  import { fromScrollTrigger } from "../scripts/fromScrollTrigger.ts";

  const wrappers: object[] = gsap.utils.toArray(".projects .wrapper");
  wrappers.forEach((wrapperObj) => {
    let wrapper = wrapperObj as Element;
    let isReverse = wrapper.classList.contains("flex-reverse");

    fromScrollTrigger(
      wrapper,
      { x: isReverse ? 200 : -200, ease: "power4", delay: 0.2 },
      1,
    );
  });
</script>
