---
const { title, image } = Astro.props;
---

<div class="skill-card">
  <div class="wrapper">
    <slot />
  </div>
  <p>{title}</p>
</div>

<style is:global>
  .skill-card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;

    transition: transform 0.25s, box-shadow 0.25s;
  }

  .skill-card p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-align: center;
    font-weight: 500;
    position: relative;
    display: inline-block;
  }

  .skill-card .wrapper {
    width: 100%;
    display: flex;
  }

  .skill-card > .wrapper > img {
    width: 30%;
    object-fit: contain;
    margin: 0 auto;
  }

  .skill-card:hover {
    transform: translatey(-5px);
    box-shadow: 0px 5px 15px rgba(var(--pink), 0.75);
  }

  .skill-card p::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }

  .skill-card:hover p::after {
    transform: scaleX(1);
  }
</style>

<script>
  import { fromScrollTrigger } from "../scripts/fromScrollTrigger.ts";

  fromScrollTrigger(".skill-card", { delay: 0.75, stagger: 0.1 }, 1);
</script>
