<div class="tab">
  <slot name="selects" />
  <slot name="contents" />
</div>

<style is:global>
  .tab > :last-child > * {
    display: none;
    opacity: 0;
    transition: all 0.5s;
  }
</style>

<script>
  import gsap from "gsap";
  const selects = document.querySelector(".tab")?.children[0] as HTMLElement;
  const contents = document.querySelector(".tab")?.children[1] as HTMLElement;

  let curIndex = 0;
  openAnim(curIndex);

  for (let i = 0; i < selects.children.length; i++) {
    const child = selects.children[i] as HTMLElement;
    child.onclick = () => {
      openTab(i);
    };
  }

  function openTab(i: number) {
    closeAnim(curIndex);
    curIndex = i;
    openAnim(curIndex);
  }

  function openAnim(i: number) {
    const content = contents.children[i] as HTMLElement;
    gsap.to(content, {
      opacity: 1,
      display: "block",
      ease: "power1.in",
      duration: 0.25,
    });
  }

  function closeAnim(i: number) {
    const content = contents.children[i] as HTMLElement;
    gsap.killTweensOf(content);
    content.style.display = "none";
    content.style.opacity = "0";
  }
</script>
