<div class="thankyou">
  <h1>Thank You</h1>
</div>

<style>
  .thankyou {
    height: 100vh;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thankyou h1 {
    font-family: "HorizonFont";
    font-size: clamp(1rem, 8vw, 4.5rem);
    font-weight: 600;

    color: rgb(var(--primary));
  }
</style>
