<div class="thankyou">
  <h1 id="thankyou-text">Thank You</h1>
</div>

<style>
  .thankyou {
    height: 100vh;
    height: 100dvh;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thankyou h1 {
    font-family: "HorizonFont";
    font-size: clamp(1rem, 8vw, 4.5rem);
    font-weight: 600;

    color: rgb(var(--primary));
    text-shadow: 0 0 20px rgb(var(--primary));
  }
</style>

<script>
  import { fromScrollTrigger } from "../scripts/fromScrollTrigger.ts";

  fromScrollTrigger(
    "#thankyou-text",
    { scale: 2, opacity: 0, delay: 0.6, ease: "power4" },
    1
  );
</script>
