<div class="container">
  <canvas id="canvas"></canvas>
  <h1 class="welcome">My PortFolio</h1>
</div>

<style>
  .container {
    padding: 2rem;
    background-color: rgb(30, 30, 30);
    height: 100vh;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .container .welcome {
    font-family: "Horizon";
    font-size: 5rem;
    font-weight: 600;
  }

  canvas {
    position: fixed;
    inset: 0;
    overflow: hidden;
  }
</style>

<script>
  import "../scripts/polygonBackground.ts";
  import gsap from "gsap";

  gsap.from("#canvas", {
    opacity: 0,
    delay: 0.5,
    duration: 1,
  });

  gsap.from(".welcome", {
    opacity: 0,
    scale: 0.5,
    ease: "back",
    delay: 1,
    duration: 1,
  });
</script>
