<div class="welcome">
  <h1 class="welcome-text">
    <div>Welcome to</div>
    <div>My <span class="primary glow">PortFolio</span></div>
  </h1>
</div>

<style>
  .welcome {
    padding: 1rem;
    height: 100vh;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .welcome .welcome-text {
    font-family: "HorizonFont";
    font-size: clamp(1rem, 6vw, 4rem);
    font-weight: 600;
  }

  .welcome .welcome-text .glow {
    text-shadow: 0 0 20px rgb(var(--primary));
  }
</style>

<script>
  import gsap from "gsap";

  window.addEventListener("load", () => {
    gsap.from(".welcome .welcome-text", {
      opacity: 0,
      scale: 0.5,
      ease: "back",
      delay: 0.8,
      duration: 1,
    });
  });
</script>
