<div class="welcome">
  <canvas id="canvas"></canvas>
  <h1 class="welcome-text">
    <div>Welcome to</div>
    <div>My <span class="pink">PortFolio</span></div>
  </h1>
</div>

<style>
  .welcome {
    padding: 1rem;
    background-color: rgb(30, 30, 30);
    height: 100vh;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .welcome .welcome-text {
    padding: 1rem;
    font-family: "Horizon";
    font-size: clamp(1rem, 6vw, 3rem);
    font-weight: 600;
  }

  canvas {
    position: fixed;
    inset: 0;
    overflow: hidden;
  }
</style>

<script>
  import "../scripts/polygonBackground.ts";
  import gsap from "gsap";

  gsap.from(".welcome #canvas", {
    opacity: 0,
    delay: 0.5,
    duration: 1,
  });

  gsap.from(".welcome .welcome-text", {
    opacity: 0,
    scale: 0.5,
    ease: "back",
    delay: 1,
    duration: 1,
  });
</script>
