<div class="container">
  <canvas id="canvas"></canvas>
  <h1 class="welcome">Welcome to My PortFolio</h1>
</div>

<style>
  .container {
    padding: 2rem;
    background-color: rgb(30, 30, 30);
    height: 100vh;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .container h1 {
    font-family: "Teko", Inter, sans-serif;
    font-size: 5rem;
    font-weight: 500;

    background: linear-gradient(
      90deg,
      #6666ff,
      #0099ff,
      #00ff00,
      #ff3399,
      #6666ff,
      #0099ff
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    animation: rainbow-anim 7s linear infinite;
    background-size: 400% 100%;
  }

  @keyframes rainbow-anim {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 100% 0;
    }
  }

  canvas {
    position: fixed;
    inset: 0;
    overflow: hidden;
  }
</style>

<script>
  import "../scripts/polygonBackground.ts";
  import gsap from "gsap";

  gsap.from("#canvas", {
    opacity: 0,
    delay: 0.5,
    duration: 1,
  });

  gsap.from(".welcome", {
    opacity: 0,
    scale: 0.5,
    ease: "power4.out(1, 0.3)",
    delay: 1,
    duration: 2,
  });
</script>
