---
import ToggleSwitch from "../subcomponents/ToggleSwitch.astro";
---

<div class="welcome">
  <canvas id="canvas"></canvas>
  <div>
    <h1 class="welcome-text">
      <div>Welcome to</div>
      <div>My <span class="pink">PortFolio</span></div>
    </h1>
    <div class="anim-switch">
      <h3>Animation</h3>
      <ToggleSwitch />
    </div>
  </div>
</div>

<style>
  .welcome {
    padding: 1rem;
    background-color: rgb(30, 30, 30);
    height: 100vh;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .welcome .welcome-text {
    padding: 1rem;
    font-family: "Horizon";
    font-size: clamp(1rem, 6vw, 3rem);
    font-weight: 600;
  }

  .welcome .anim-switch {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.25rem;
    font-size: clamp(1rem, 4vw, 2rem);
  }

  canvas {
    position: fixed;
    inset: 0;
    overflow: hidden;
  }
</style>

<script>
  import "../scripts/polygonBackground.ts";
  import gsap from "gsap";

  gsap
    .timeline()
    .from(".welcome #canvas", {
      opacity: 0,
      delay: 0.5,
      duration: 1,
    })
    .from(".welcome .welcome-text", {
      opacity: 0,
      scale: 0.5,
      ease: "back",
      duration: 0.75,
    })
    .from(".welcome .anim-switch", {
      opacity: 0,
      delay: 0.25,
      duration: 0.5
    })
    .play();
</script>
