---
import Welcome from "../components/Welcome.astro";
import ThankYou from "../components/ThankYou.astro";
import Modal from "../components/Modal.astro";
import Navbar from "../components/Navbar.astro";
import Loader from "../components/Loader.astro";
import PolygonBackground from "../components/PolygonBackground.astro";
import { store } from "../scripts/store";

const { primaryColor } = store;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="My Portfolio for applying to the university."
    />
    <title>Ashira Aungsumal's Portfolio for applying to the university.</title>
    <script
      src="https://kit.fontawesome.com/8e504b9924.js"
      crossorigin="anonymous"
      defer></script>
  </head>
  <body>
    <Loader />
    <Navbar />
    <Modal />

    <PolygonBackground />
    <Welcome />

    <div id="contents">
      <slot />
    </div>

    <ThankYou />
  </body>
</html>

<style is:global define:vars={{ primaryColor }}>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

  @font-face {
    font-family: "HorizonFont";
    src: local("HorizonFont"), url("/portfolio/fonts/Horizon/horizon.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Cascadia Code Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Cascadia Code Regular"),
      url("/portfolio/fonts/CascadiaCode/CascadiaCode-Regular.otf");
    font-display: swap;
  }

  /* -------------------- default settings -------------------- */

  :root {
    /* --dark: rgb(23, 27, 46); */
    --dark: 23, 27, 46;

    /* --primary: rgb(255, 255, 255); */
    --primary: var(--primaryColor);

    /* --secondary: rgb(121, 14, 14); */
    --secondary: 121, 14, 14;

    --blue: 56, 182, 255;
    --yellow: 255, 223, 43;
    --green: 27, 248, 129;
    --grey: 218, 215, 197;
  }

  h1 {
    font-size: clamp(2rem, 8vw, 4rem);
  }

  h3 {
    font-size: clamp(1.5rem, 4vw, 2rem);
  }

  a {
    color: white;
  }

  p,
  a,
  li {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }

  body {
    font-weight: normal;
    font-family: Inter, "IBM Plex Sans Thai", sans-serif;
    color: white;
    background: radial-gradient(rgb(var(--primary)), rgb(var(--dark)) 73%);

    overflow-x: hidden;
  }

  /* -------------------- for this component -------------------- */

  #contents {
    background-color: rgb(var(--dark));
    overflow-x: hidden;
  }

  /* -------------------- utility class -------------------- */

  .dark {
    color: rgb(var(--dark)) !important;
  }

  .primary {
    color: rgb(var(--primary)) !important;
  }

  .secondary {
    color: rgb(var(--secondary)) !important;
  }

  .blue {
    color: rgb(var(--blue)) !important;
  }

  .yellow {
    color: rgb(var(--yellow)) !important;
  }

  .green {
    color: rgb(var(--green)) !important;
  }

  .grey {
    color: rgb(var(--grey)) !important;
  }

  .bold {
    font-weight: 600 !important;
  }

  .underline {
    text-decoration: underline !important;
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { TextPlugin } from "gsap/TextPlugin";

  gsap.registerPlugin(ScrollTrigger, TextPlugin);
</script>
